@import '../global.css';

html, body{
    height: 100%;
}
.container{
    color: var(--text);
    display: flex;
    min-height: 100%;
}
.Navigation{
    width: 15%;
    background-color: var(--primary);
}
.Logo{
    display: flex;
    justify-self: center;
    flex-direction: column;
    padding-top: 5%;
}
.Logo img{
    width: 100%;
    align-self: center;
}
.Logo h2{
    text-align: center;
    color: var(--text);
    margin: 0;
    font-size: 2.5vw;
}

.General, .Tools{
    justify-content: center;
    flex-direction: center;
}
.General, .Tools .title{
    font-size: 1.1vw;
    text-align: center;
}

div ul li{
    list-style: none;
    border-radius: 50px;
}
div ul li:hover{
    cursor: pointer;
}
.General ul{
    margin: 10%;
    padding: 0;
}
p{
    margin: 12%;
    padding: 0;
}
.NavbarItem{
    font-size: 1.4vw;
}
.li-item{
    display: flex;
    align-items: center;
}
.li-item img{
    margin-right: 1em;
    width: 15%;
    height: 15%;   
}
.SelectedNavItem{
    background-color: var(--secondary);
    
}
.Tools ul li p{
    text-align: center;
}
.DashboardContent{
    width: 100%;
}