@import '../../global.css';

.container{
    color: #fff;
    display: flex;
    height: 100vh;
    outline: green;
}
.NFA-Upper{
    background-color: var(--third-color);
    height: 50%;
    width: 100%;
    border-radius: 0 0 0 120px;
    display: flex;
    align-items: center;
}
.Infomation{
    width: 40%;
    margin-left: 70px;
    box-sizing: border-box;
}
h1{
    margin: 0;
}
.Details{
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}
.Details button{
    cursor: pointer;
    transform: scale(1.1);
}
form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.InputForm{
    position: absolute;
    background-color: #000;
    left: 60%;
    width: 30%;
    top: 15%;
    height: 75%;
    height: auto;
    border-radius: 20px;
    padding: 2%;
}
.Left{
    width: 100%;
}
.InputField{
    background-color: var(--secondary-color);
    border-style: none;
    color: white;
    font-size: large;
    padding: 5px;
    font-size: 1.7vw;
}
.FormField{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    outline: #f0dde0;
    width: full;
    padding: 10px;
}
.FormField label{
    padding: 5px;
}

.title{
    font-size: 2.5vw;
    margin: 10px;
    text-align: center;
}
.SubmitButtons{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10%;
}
.SubmitButtons button:hover{
    cursor: pointer;
    transform: scale(1.1);
}


.loader {
    position: absolute;
    top: 15%;
    left: 60%;
    width: fit-content;
    padding-bottom: 5px;
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    overflow: hidden;
    color: #fff;
    text-shadow: 0 0 0 #000,10ch 0 0 #000;
    background: linear-gradient(#000 0 0) bottom left/0% 3px no-repeat;
    animation: l14 1.5s infinite;
  }
  .loader:before {
    content: "Loading...";
  }
  @keyframes l14 {
      80%  {text-shadow:    0  0 0 #000,10ch 0 0 #000;background-size:100% 3px}
      100% {text-shadow: -10ch 0 0 #000,0    0 0 #000}
  }
